{% extends 'main.html' %} {% block content %}
<style>
  .room-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
</style>
<div class="room-container">
  <div>
    <h1>{{room.name}}</h1>
    <hr />
    <p>{{room.description}}</p>

    <div class="comment-wrapper">
      <h4>Conversation</h4>
      <hr />
      {% for message in room_messages %} {% if request.user.is_authenticated %}
      {% if request.user == message.user %}
      <a href="{% url 'delete-message' message.id %}">Delete</a>
      {% endif %} {% endif %}
      <small>@{{message.user}} {{message.created|timesince}} ago </small>
      <p>{{message.body }}</p>
      <hr />
      {% endfor %}
    </div>
    <div class="comment-form">
      {% if user.is_authenticated %}
      <form action="" method="POST">
        {% csrf_token %}
        <input
          type="text"
          name="body"
          placeholder="Enter your message here..."
        />
      </form>
      {% endif %}
    </div>
  </div>
  <div>
    <h3>Participants</h3>
    <hr />
    <div>
      {% for user in participants %}
      <div>
        <p>@{{user}}</p>
      </div>

      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
